<!DOCTYPE html>
<html>
<head>
    <title>Topics</title>
</head>
<body>
<ul>
    {% for topic in topics %}
    <li><a href="/t/{{ topic['id'] }}">{{ topic["title"] }}</a></li>
    {% end %}
</ul>
</body>
</html>