<!DOCTYPE html>
<html>
<head>
    <title>{% raw topic["title"] %}</title>
</head>
<body>
    <h3><a href="https://www.v2ex.com/t/{% raw topic['id'] %}">{% raw topic["title"] %}</a></h3>
    {% raw topic["content_rendered"] %}
    <hr>
    {% for reply in replies %}
    <div style="border: 1px solid #000000;margin:10px;padding: 5px;">{{reply["member"]}}  {% raw reply["content_rendered"] %}</div>
    {% end %}
</body>
</html>